/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557
*/

/* TOOLS */
.dotted_border {
    border: 1px dotted blue;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    margin: 0;
    width: 720px;
    height: 343px;
    background-image: url("images/torshov-image.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero-title {
    padding: 5px 15px;
    font-family: Arial;
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #1D3557;
    border-radius: 10px;
}

.hero-text {
    width: 412px;
    padding: 5px 15px;
    font-family: Arial;
    font-size: 19px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;    
    background-color: #1D3557;
    border-radius: 10px;
}

.activities-title {
    margin-top: 39px;
    margin-bottom: 54px;
    font-family: Arial;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #1D3557;

}

.activities {
    display: flex;
    margin-bottom: 50px;
}

.activity-img {
    margin-bottom: 22px;
}

.activity-title {
    margin-bottom: 17px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #1D3557;

}
.activity-description {
    width: 198px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #1D3557;

}
